//
//  DevSettings.xcconfig
//  Movies13
//
//  Created by Avario Babushka on 15/10/19.
//  Copyright © 2019 Avario Babushka. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DISPLAY_NAME = Movies Dev

BASE_URL = api.themoviedb.org/3/
API_KEY = 7141478ba63e445f5cc58583ed4bbb45
